@{
    ViewBag.Title = "FBG光纤光栅测量历史数据查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
}

<script language="JavaScript" type="text/javascript">

    function query_fbgdata() {
        var startdate = $("#startdate").val();
        startdate = $.trim(startdate);
        var qstr = "";
        var varsn = 0;

        if ((startdate != null) && (startdate.length > 0)) {
            qstr = "startdate=" + startdate;
            varsn = varsn + 1;
        }

        var enddate = $("#enddate").val();
        if ((enddate != null) && (enddate.length > 0)) {
            if (varsn == 0) {
                qstr = "enddate=" + enddate;
            }
            else {
                qstr = qstr + "&enddate=" + enddate;
            }
            varsn = varsn + 1;
        }


        var dev_id = $("#devid").val();
        if ((dev_id != null) && (dev_id.length > 0)) {
            if (dev_id != 0) {
                if (varsn == 0) {
                    qstr = "devid=" + dev_id;
                }
                else {
                    qstr = qstr + "&devid=" + dev_id;
                }
                varsn = varsn + 1;
            }
        }

        var sendorno = $("#sensorno").val();
        if ((sendorno != null) && (sendorno .length > 0)) {
            if (varsn == 0) {
                qstr = "sorno=" + sendorno;
            }
            else {
                qstr = qstr + "&sorno=" + sendorno;
            }
            varsn = varsn + 1;
        }


        if (qstr.length > 0) {

            $(".fbgdataquery").load("/FBG/Fbgdataqy?" + qstr);
        }
        else {
            $(".fbgdataquery").load("/FBG/Fbgdataqy");
        }

    }

</script>

<br>

<table>
    <tr>
        <td>

            <div>
                <div style="color: #3F4F70;font-weight:bold;">请选择查询条件:</div>
                <br>
                <table>
                    <tr>
                        <td><span class="inputlabel">起始日期:</span> <input type="text" id="startdate" class="inputboxq"></td>
                        <td width="50px"></td>

                        <td><span class="inputlabel">结束日期:</span> <input type="text" id="enddate" class="inputboxq"></td>
                        <td width="50px"></td>

                        <td>
                            <span class="inputlabel">设备名:</span>
                            <input type="text" id="devid" class="inputboxa">

                        </td>

                        <td width="50px"></td>

                        <td>
                            <span class="inputlabel">传感器号:</span>
                            <input type="text" id="sensorno" class="inputboxa">
                        </td>
                        <td width="50px"></td>
                        <td>
                            <a class="norbn" href="#" onclick="query_fbgdata()">查询</a>
                        </td>

                    </tr>
                </table>

            </div>


        </td>

    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>


    <tr>
        <td>
            <div class="fbgdataquery" id="fbgdataquery">

                @Html.Action("Fbgdataqy")

            </div>
        </td>
    </tr>
</table>

<script src="~/Scripts/jquery-ui.js"></script>


<script>

    $(document).ready(
        function () {
            $("#startdate").datepicker({
                inline: true,
                dateFormat: "yy-mm-dd"
            });
            $("#enddate").datepicker({
                inline: true,
                dateFormat: "yy-mm-dd"
            });

        }
    );
</script>


